.button {
    background-color: #2c2d37;
    border-radius: 10px;
    border: 1px solid #0094fc;
    font-weight: 700;
    font-size: 16px;
    padding: 16px;
    margin: 8px 0px;
    width: 100%;
    cursor: pointer;
    color: #0094fc;
}

.button:hover {
    transition: 0.5s;
    background-color: #0094fc;
    color: #2c2d37;
}