.hist-section {
    margin: 48px 16px;
    text-align: center;
    justify-content: center;
    color: #FFF;
}

.hist-section table {
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.hist-section h1 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.hist-section th {
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #0094fc;;
    width: 256px;
    height: 64px;
}

.hist-section tbody tr {
    height: 32px;
}